{% extends '::base.html.twig' %}

{% block body -%}
    <h1>AutoPayment list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Startdate</th>
                <th>Period</th>
                <th>Data</th>
                <th>Lastpayment</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('autopayment_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{% if entity.startDate %}{{ entity.startDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.period }}</td>
                <td>{{ entity.data }}</td>
                <td>{% if entity.lastPayment %}{{ entity.lastPayment|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('autopayment_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('autopayment_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('autopayment_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
